<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta charset="UTF-8">
      <title>Joe's Website - Home</title>
      <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
      {{#each js}}
          <script defer src="/public/js/{{this}}"></script>
      {{/each}}
  </head>
  <body>
    <page-header>
        <h1>Joe's Website</h1>
    </page-header>
    {{> navbar}}
    {{{body}}}
  </body>
    {{> footer}}
</html>
