<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta charset="UTF-8">
      <title>Joe's Website - Home</title>
      <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
      <script defer src="/public/js/index.js"></script>
  </head>
  <body>
    <page-header>
        <h1>Joe's Website</h1>
    </page-header>
    <website-navbar>
      <li><a href="/index">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/postvideo">Post Video</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/registration">Registration</a></li>
      <li><a href="/viewpost">View Post</a></li>
    </website-navbar>
    {{log this}}
    {{{body}}}
  </body>
    {{> footer}}
</html>
