<main>
    <centered-div>
        <div>
            <section-header><h3>LOGIN PAGE</h3></section-header>
            <p>Login with your account username and password below</p>
        </div>
        <div>
            <form class="submit-form" action="/users/login" method="post">
                <label for="username">Username: </label>
                <input id="username" name="username"><br>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Submit">
            </form>
            <br>

        </div>
    </centered-div>
</main>