<main>
    <section-header><h3>LOGIN PAGE</h3></section-header>
    <p>Login with your account username and password below</p>
    <div>
        <form action="index.hbs" method="get">
            <label for="username">Username: </label>
            <input type="pw" id="username" required="true"><br>
            <label for="pw">Password: </label>
            <input type="password" id="pw" required="true"><br>
            <input type="submit" value="Submit">
        </form>
        <br>

    </div>
</main>