<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joe's Website - Login</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
</head>
<body>
<page-header>
    <h1>Joe's Website</h1>
</page-header>
<ul>
    <li><a href="index.hbs">Home</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="postvideo.hbs">Post Video</a></li>
    <li><a href="profile.hbs">Profile</a></li>
    <li><a href="registration.hbs">Registration</a></li>
    <li><a href="viewpost.hbs">View Post</a></li>
</ul>
<centered-div>
    <section-header><h3>LOGIN PAGE</h3></section-header>
    <p>Login with your account username and password below</p>
    <div>
        <form action="index.hbs" method="get">
            <label for="username">Username: </label>
            <input type="pw" id="username" required="true"><br>
            <label for="pw">Password: </label>
            <input type="password" id="pw" required="true"><br>
            <input type="submit" value="Submit">
        </form>
        <br>

    </div>
</centered-div>
<footer>
    <p><i>---
        <br>This is a footer. The only purpose this serves is being a footer and concluding the content on this page.<p></p></i>
</footer>
</body>
</html>