<main>
    <centered-div>
        <div>
            <section-header><h3>POST A VIDEO</h3></section-header>
            <p>Post a video into the website</p>
        </div>
        <div>
            <form class="submit-form" action="posts/create" method="POST" enctype="multipart/form-data">
                <label for="posttitle">Post Title: </label>
                <input id="posttitle" name="title"><br>
                <label for="postdesc">Post Description: </label>
                <input id="postdesc" name="description"><br>
                <label or="postuploadvideo">Upload Video:</label><br>
                <input type="file" accept="video/mp4" id="postuploadvideo" name="uploadVideo"><br>
                <input type="checkbox" value="Acceptable Use Policy" >Acceptable Use Policy<br>
                <input type="submit" value="Submit">
            </form>
            <br>

        </div>
    </centered-div>
</main>