<main>
    <section-header><h3>PROFILE</h3></section-header>
    <div class="profile-username">Username: robert123</div>
    <div class="profile-email">Email: robert123@gmail.com </div>

    <ul class="posts-created">
        <li><a href="#" class="video1"></a>Video 1</li>
        <li><a href="#" class="video2"></a>Video 2</li>
        <li><a href="#" class="video3"></a>Video 3</li>
    </ul>
</main>