<main>
    <section-header><h3>PROFILE</h3></section-header>
    <h1 class="profile-username">{{user.username}}'s profile</h1>
    <div class="profile-email">Email: {{user.email}} </div>

    <div class="posts-created">
        {{#each posts}}
            {{> post this}}
        {{/each}}
    </div>
</main>