 <main>
    <centered-div>
        <div>
            <section-header><h3>REGISTER AN ACCOUNT</h3></section-header>
            <p>Register a new account by providing the following information below:</p>
        </div>
        <div>

            <form class="submit-form" id="reg-form" action="users/registration" method="POST" enctype="application/x-www-form-urlencoded">
                <label for="email">Email: </label>
                <input type="text" id="email" name="email"><br>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username"><br>
                <label for="pw">Password: </label>
                <input type="password" id="pw" name="pw"><br>
                <label for="confirmpw">Confirm Password: </label>
                <input type="password" id="confirmpw" name="confirmpw"><br>
                <input type="checkbox" value="I am over 13 years old" >I am over 13 years old<br>
                <input type="checkbox" value="I accept the Terms of Use" >I accept the <a href="#">Terms of Use and Privacy Rules</a><br>
                <input type="checkbox" value="I am not a robot" >I am not a robot<br>
                <input type="submit" value="Submit"><br>
            </form>
            <br>
        </div>
    </centered-div>
</main>