<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joe's Website - View a Post</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
</head>
<body>
<page-header>
    <h1>Joe's Website</h1>
</page-header>
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="postvideo.html">Post Video</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="registration.html">Registration</a></li>
    <li><a href="viewpost.html">View Post</a></li>
</ul>
<section-header><h3 class="post-title">BOWLING ANIMATION</h3></section-header>
<div class="post-author">Posted by: bryanandryan</div>
<div class="post-creation-time">Time Created: 12:00:00 AM 02/28/2023</div>
<video class="post-video" src="../public/html/Sfw%20bowling%20animation.mp4" width="320" height="240 controls"></video>
<ul class="comments-section"><h3>COMMENTS</h3>
    <li class="comment">johnnyappleseed: Hilarious</li>
    <li class="comment">redpanda03: pretty funny lol</li>
    <li class="comment">wyattrules_6464: LOL</li>
</ul>
<footer>
    <i>---
        <br>This is a footer. The only purpose this serves is being a footer and concluding the content on this page.</i>
</footer>
</body>
</html>