<main>
    <section-header><h3 class="post-title">BOWLING ANIMATION</h3></section-header>
    <div class="post-author">Posted by: bryanandryan</div>
    <div class="post-creation-time">Time Created: 12:00:00 AM 02/28/2023</div>
    <video class="post-video" src="../public/html/Sfw%20bowling%20animation.mp4" width="320" height="240 controls"></video>
    <ul class="comments-section"><h3>COMMENTS</h3>
        <li class="comment">johnnyappleseed: Hilarious</li>
        <li class="comment">redpanda03: pretty funny lol</li>
        <li class="comment">wyattrules_6464: LOL</li>
    </ul>
</main>