<main>
    <section-header><h3 class="post-title">BOWLING ANIMATION</h3></section-header>
    <div class="post-author">Posted by: bryanandryan</div>
    <div class="post-creation-time">Time Created: 12:00:00 AM 02/28/2023</div>
    <video class="post-video" src="/public/html/Sfw%20bowling%20animation.mp4" width="320" height="240 controls"></video>
    <div class="comments-section"><h3>COMMENTS</h3>
        {{#each currentPost.comments}}
            {{> comment this}}
        {{/each}}
    </div>
</main>