page-header {
    color: white;
    background-color: black;
    text-align: center;
    box-shadow: black;
    border-bottom-color: black;
    text-align: center;
}

centered-div {
    text-align: center;
}

input {
    border: black solid 1px;
    border-radius: 5px;
}

body {
    border: black solid 15px;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
    color: white;
    text-shadow: black;
    font-family: Helvetica Neue;
}

section-header {
    text-align: center;
}

main-text {
    color: #22004b;
    padding: 5px;
    text-align: center;
}

footer {
    text-align: center;
}

.valid-text {
    outline: solid green;
}

.invalid-text {
    outline: solid red;
}

.product-list {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    max-width: 1000px;
}

.product-card {
    background-color: black;
    border: solid 2px white;
    width: 300px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
}

.product-img {
    border: solid black 2px;
    max-width: 280px;
    max-height: 100px;
    align-content: center;
}

.product-price {
    font-size: small;
}

.website-navbar {
    background-color: white;
    border: solid white 2px;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

.navbar-item {
    color: black;
}